extends nav.pug 
block style 
    style 
        include ../static/page.css
        include ../static/page_nav.css
block content
    div#main 
        div#main-2
            p 
                span#first Hello, I am 
                span#second Bakul Garg 
                span#third -- Programmer,Coder,Web and Coding Enthusiast. 
                span#fourth visit and know about my work. 
            div.buttons 
                button#cv Download My CV 
                button#more More about me     
        img(src="image.png")                